* {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message>*>*>*>*{
  height: 100% !important;
  width: 18px;
}
.message>*>*{
  display: flex;
  align-items: center;

}
.inputBox{
  border-style: solid;
  border-width: 10px;
}